<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse | Mercado Liebre</title>
    <link rel="stylesheet" href="./css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <header class="header-main">
        <div class="header-row-logo">
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            <h2><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de crédito</h2>
        </div>
        <!-- <input type="text" placeholder="Buscar productos, marcas">
        <br> -->
        <!-- <button><i class="fas fa-search"></i></button> -->

        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>

        <div class="header-nav-container">
            <nav class="left-nav">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="right-nav">
                <ul>
                    <li><a href="/register">Crea tu cuenta </a><i class="far fa-id-card"></i></li>
                    <li><a href="/login">Ingresa </a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
                </ul>
                <br>
            </nav>
        </div>
    </header>
    <main class="contenedor-main">
        <h3>Formulario de registro</h3><br>
        <form action="/" method="" class="formulario">
            <input type="text" name="nombre" id="nombre" placeholder="Nombres"><br>
            <input type="text" name="apellido" id="apellido" placeholder="Apellidos"><br><br>
            <!-- <label for="fecha-nacimiento" class="fecha-nacimiento">Fecha de nacimiento</label><br> -->
            <h4>Fecha de nacimiento</h4><br>
            <input type="date" class="input-fecha" value="mm/dd/yyyy" name="fecha-nacimiento" id="fecha-nacimiento"><br>
            <input type="text" placeholder="Domicilio" name="domicilio" id="domicilio"><br><br>
            <!-- <label for="perfil">Perfil de usuario</label><br> -->
            <h4>Perfil de usuario</h4><br>
            <div class="radios">
                <div class="col1-radios">
                    <input type="radio" name="perfil"> Comprador
                </div>
                <div class="col2-radios">
                    <input type="radio" name="perfil"> Vendedor
                </div>
            </div>
            <br>
            <h4>Intereses</h4><br>
            <div class="checkboxes">
                <input type="checkbox" name="intereses" value="electro"> Electro <br>
                <input type="checkbox" name="intereses" value="moda"> Moda <br>
                <input type="checkbox" name="intereses" value="hogar"> Hogar <br>
                <input type="checkbox" name="intereses" value="jugueteria"> Juguetería <br>
                <input type="checkbox" name="intereses" value="vida-sana"> Vida sana
            </div>
            <br>
            <h4>Foto de perfil</h4>
            <input type="file" accept=".jpg,.png" name="foto">
            <input type="password" placeholder="Crea una contraseña" name="password" id="password">
            <input type="password" placeholder="Confirmar tu contraseña" name="password" id="password"><br>
            <div class="botones">
                <!-- <input type="submit">
                <input type="reset"> -->
                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>
            </div>
        </form>
    </main>
    <br>
    <footer class="contenedor-footer">
        <div class="contenedor-articulos">
            <article class="article-footer">
                <i class="fas fa-credit-card" style="color: #1259c3;;"></i>
                <p><b>Paga con tarjeta o en efectivo</b></p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <br>
            <article class="article-footer">
                <i class="fas fa-gift" style="color: #1259c3;;"></i>
                <p><b>Envío gratis desde $ 2.500</b></p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <br>
            <article class="article-footer">
                <i class="fas fa-user-shield" style="color: #1259c3;;"></i>
                <p><b>Seguridad, de principio a fin</b></p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </div>
        <br>
        <p class="copyright"><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b></p>
    </footer>
</body>

</html>